.search-modal {
  display: none;

  @media (max-width: 728px) {
    // min-width: 729px 일때 해주면 overlay가 #fff로 덮임
    height: 100%;
  }

  &.active {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 2;

    .search-part {
      border-bottom: 1px solid #e0e0e0;

      .container {
        display: flex;
        align-items: center;

        @media (max-width: 728px) {
          padding: 0 16px;
        }

        .news-search-input {
          width: 100%;
          margin: 0 12px;
          border: none;
          font-size: 16px;
          padding: 20px 0 19px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.63;
          letter-spacing: normal;
          color: #616161;
          outline: none;

          &::placeholder {
            color: rgba(97, 97, 97, 0.4);
          }
        }
      }
    }

    .search-sub-part {
      position: relative;
      z-index: 2;
      padding: 32px 0 60px;

      @media (max-width: 728px) {
        padding: 24px 8px;
      }
      .container{
        @media (max-width: 728px) {
          padding: 0 16px;
        }
        .recent-keyword-part {

          .title {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.63;
            letter-spacing: normal;
            color: #212121;

            .sub-action {
              display: none;
              font-size: 13px;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.54;
              letter-spacing: normal;
              color: #9e9e9e;
              margin-left: auto;
              cursor: pointer;
            }
          }

          .recent-keyword-part-wrapper.empty {
            margin-top: 48px;

            .empty-recent-keyword {
              display: block;
              //display: none;
              font-size: 14px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.71;
              letter-spacing: normal;
              text-align: center;
              color: #9e9e9e;
            }
          }
        }
      }
    }

    .background-overlay {
      z-index: 1;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      background-color: rgba(0, 0, 0, 0.4);

      @media (max-width: 728px) {
        display: none;
      }
    }
  }
}