.list-cover {
  @media (min-width: 729px) {
    width: 704px;
    margin: 0 auto;
    &.search-empty-cover {
      margin-top: 20px;
    }
  }

  @media (max-width: 728px) {
    margin-top: 15px;
    padding: 24px;
    width: 100%;

    &.search-empty-cover {
      margin-top: 0;
    }
  }
}

