.list-cover {
  .list-item-link {
    width: 100%;

    &+.list-item-link{
      margin-left: 0;
    }
    .list-item {
      width: 100%;
      border-bottom: 1px solid #eee;

      .item-main {
        display: inline-block;

        .item-description {
          font-size: 13px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.54;
          letter-spacing: normal;
          color: #616161;
          display: -webkit-box;
          overflow: hidden;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}

@media (min-width: 729px) {
  .list-cover {
    width: 704px;
    margin: 0 auto;

    .list-item-link {
      display: inline-block;

      .list-item {
        padding-bottom: 32px;
        margin-bottom: 32px;

        .item-main {
          width: 546px;
          margin-right: 48px;

          .item-title {
            font-size: 20px;
            margin-bottom: 8px;
            font-weight: 500;
            line-height: 1.5;
          }

          .item-description {
            margin: 12px 0 8px 0;
          }
        }

        .item-thumbnail-pc {
          .thumbnail-image {
            width: 110px;
            height: 110px;
            border-radius: 8px;
            border: solid 1px #e0e0e0;
            object-fit: cover;
          }
        }
      }
    }
  }
}