//height: 60%;
.main-intro {
  width: 100%;
  background-blend-mode: multiply;
  background-image: linear-gradient(to bottom, #f4f0ff 20%, #fefeff 60%, #ffffff 80%);

  .container {
    position: relative;
    @media (max-width: 728px){
      padding: 24px;
    }

    .intro {
      font-size: 22px;
      line-height: 32px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #313131;
      position: relative;
      padding: 64px 0;

      @media (max-width: 728px){
        padding: 24px 0;
      }

      .key-visual-guide {
        display: inline-block;
      }

      .key-visual-guide-point-word {
        font-weight: 500;
        display: inline-block;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        color: #313131;
      }

      .key-visual-guide-long-point {
        font-size: 24px;
        line-height: 36px;
        width: 64px;
        background-color: #8e2de2;
        height: 4px;
        display: block;
        position: absolute;
        opacity: .3;
        top: 125px;
        left: -2px;

        @media (max-width: 728px){
          top: 85px;
          line-height: 32px;
          font-size: 22px;
        }
        @media (max-width: 440px){
          top: 117px;
        }
      }
    }
  }
}

.container {
  .main-list {

    .main-list-title {
      font-size: 22px;
      font-weight: 500;
      line-height: 32px;
      color: #14171f;
      margin-bottom: 0;

      img {
        margin-left: 5px;
      }
    }

    .main-list-row {
      border-bottom: 1px solid #f5f5f5;
      padding: 60px 0;
      // @media (min-width: 729px)
      //display: flex;
      //justify-content: space-between;
      // @media (max-width: 729px) flex말고 기존처럼 margin-bottom으로 변경해도 무방

    }


    @media (max-width: 728px) {
      &:last-of-type{
        margin-bottom: 80px;
      }
      padding: 0 24px;

      .main-list-title{
        margin-bottom: 48px;
      }

      .main-list-row{
        border-bottom: none;
        padding: 0;
      }
    }
  }
}