.auth {
  min-height: 100vh;
  height: 100%;
  min-width: 1080px;
  //background-image: linear-gradient(to bottom, #f4f0ff 20%, #fefeff 60%, #ffffff 80%);
  background-color: #ffffff;

  .auth-wrapper {
    display: flex;
    //height: 100%; <- 적용안 됨...하
    min-height: 100vh;
    height: 100%;

    .title-header {
      font-size: 24px;
      line-height: 36px;
      font-weight: 400;
      color: #212121;
    }

    .logo-section {
      width: 43%;
      height: 100%;
      display: flex;
      margin: 0 auto;
      background-color: #fafafa;

      .logo-section-wrapper {
        position: absolute;
        left: 25%;
        top: 45%;
        transform: translate(-50%, -50%);


      }
    }
  }

  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
}