.logo-section {
  width: 43%;
  height: 100%;
  display: flex;
  margin: 0 auto;
  background-color: #fafafa;

  .logo-section-wrapper {
    position: absolute;
    left: 25%;
    top: 45%;
    transform: translate(-50%, -50%);


  }
}