.container.editor {
  margin-top: 40px;
  display: flex;
  flex-direction: column;

  @media(max-width: 728px) {
    width: 100%;
    padding: 0 12px;
  }

  .title-name{
    //width: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;

    p{
      width: 39px;
      display: inline-block;
    }
  }

  .title-wrapper {
    display: flex;
    align-items: center;

    @media(max-width: 728px) {
      font-size: 13px;
    }

    .title-container {
      width: 100%;
      padding: 10px;
      border: 1px solid lightgray;
    }
  }

  .editor-wrapper {
    display: flex;
    align-items: flex-start;
    margin: 20px 0 42px;

    @media (max-width: 641px){
      margin-bottom: 62px;
    }

    .editor-container {
      //overflow: scroll;
      height: 500px;
      //border: 1px solid lightgray;
      width: 100%;

      .editor {
        height: 100%;
        border: none;
      }
    }
  }

  .menu-wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;

    .title-wrapper {
      flex: 0.5;
      justify-content: center;

      p {
        text-align: center;
      }
    }

    .item-wrapper {
      flex: 1;
      display: flex;
      gap: 20px;

      .item {
        flex: 3;
        border: 1px solid lightgray;
        padding: 10px;
        font-size: 12px;
        color: #555;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
          font-size: 20px;
        }

        .file {
          text-decoration: underline;
          cursor: pointer;
        }

        .cat {
          display: flex;
          gap: 2px;
          align-items: center;
          color: #AC6EEE;
        }
      }
    }
  }

  .buttons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: calc(100% - 59px);
    margin-left: auto;

    .button-wrapper {
      display: flex;
      width: 100%;

      @media(max-width: 728px) {
        //padding: 0 12px;
      }

      button {
        font-size: 20px;
        width: 100%;
        //margin-left: auto;
        margin: auto;
        //border: 1px solid #AC6EEE;
        border: none;
        border-radius: 3px;
        padding: 11px;
        cursor: pointer;
        color: #EEEEEE;
        background-color: #AC6EEE;
        transition: all 0.3s ease-in-out;

        &.impossible {
          color: #AC6EEE;
          background-color: #EEEEEE;
        }
      }

    }
  }

}