$fontColor: #616161;
$fontHoverColor: #212121;

.app {
  //display: flex;
  //justify-content: center;
  //.container{
  //  width: 100%;
  //  min-height: 100vh;
  //  //width: 95%;
  //  //margin: auto;
  //
  //
  //}
  .link {
    text-decoration: none;
  }

  @media (min-width: 729px) {
    .layout {
      min-height: unset;
    }
  }

  //@media (min-width: 729px)
  //.layout {
  //  min-height: 960px;
  //}
  .container {
    // 모두 적용시키기(rem) + media query
    width: 1080px;
    margin: 0 auto;
  }
}