@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@400;500;600;700&display=swap');
$noto-sans-kr-font-family: 'Noto Sans KR', sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $noto-sans-kr-font-family;
}

#root{
  min-width: 1080px;
  //overflow-x: scroll;
}